.boxes{ margin:100px;
  padding: 100px;
    font-family: "Lexend Deca", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      height: 500px;width: 300px;
      display: grid;
      grid-template-columns:repeat(4,1fr);
      grid-template-rows:repeat(5,1fr);
     
      gap: 5px;
      border-radius: 20px;
       }
 .small{
    font-size:18px;width: 300px;
    text-align: center;
 
   }
    
 
 .word{
    color:hsl(256, 67%, 59%) ;
 }
 .box1{
  grid-row: 1/2;background-color:  hsl(31, 66%, 93%);
  display: flex;
  flex-flow: wrap;
 justify-items: center;
  align-items: center;
  border-radius:20px;
 }
 .box2{
    grid-area:1/2/3/4;;padding: 20px;
    background-color: hsl(256, 67%, 59%) ;color: hsl(0, 0%, 100%) ;height:250px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius:20px;
 
   
 }
 .number{
   color:hsl(39, 100%, 71%) ;
 }
 .box3{
    grid-area:1/4/3/5;background-color: hsl(254, 88%, 90%) ;
    display:grid;
    justify-content: end;
    align-items: center;
    width:300px;
    border-radius:20px;
 
 }
 .box4{
    grid-row: 2/5;
    background-color:  hsl(39, 100%, 71%);
    display:grid;
    justify-content: end;
    align-items: center;
    border-radius:20px;
 }
 .box5{
    grid-area:2/2/3/3;width: 300px;
     background-color: hsl(0, 0%, 100%);padding: 20px;
     display:grid;
    justify-content:center;
    align-items: center;
    border-radius:20px;
 }
 .box6{
   grid-area: 2/3/3/4; background-color:  hsl(39, 100%, 71%);
   display:grid;
   justify-content:center;
   align-items:center;
   border-radius:20px;

 }
 .box7{
   grid-area: 4/2/5/3; background-color: hsl(0, 0%, 100%);
   display:grid;
   justify-content:center;
   align-items:center;
   border-radius:20px;
 }
 .box8{
 display: flex;
   grid-area: 4/3/5/5;background-color: hsl(256, 67%, 59%) ;color: hsl(0, 0%, 100%) ;
   border-radius: 20px;
 }

 